body {
    background: url();
}

#nota{
    color: #000;
    font-size: 32px;
    font-family: 'Ropa Sans', Times, serif;
}

.contenedor1,
.contenedorImg {
    min-height: 50vh;
    max-height: 50vh;
    margin-top: 20px;
}

.contenedor2 {
    height: 1000px;
}

.imgLibro {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.imgUser {
    height: auto;
    max-width: 100%;
}

.contenedorInfo {
    background-color: #CFD2CD;
    height: 28rem;
    border-radius: 20px;
}

h3 {
    height: fit-content;
}

.h2 {
    width: fit-content;
}

.comentario {
    background-color: #D9D9D9;
}

.contenedorComentarios {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card2 {
    max-width: 40%;
}

.letra {
    font-size: 20px;
}

.cantidad {
    max-width: 100px; border-radius: 10%;
}

a{
    text-decoration: none;
    color: black;
}

.espacio{
    margin-top: 3rem;
}

.clasifi{
    margin-top: 100px;
}

.lib{
    margin-top: 100px;
}