body {
    background: url();
}

#nota{
    color: #000;
    font-size: 32px;
    font-family: 'Ropa Sans', Times, serif;
}

.contenedorLibro {
    background-color: #D9D9D9;
}

.contenedorImg {
    height: 300px;
}

.imgLibro {
    max-width: 100%;
    height: auto;
}

.lineaNegra {
    width: 50vw;
    border: solid 5px black;
    bottom: -15%;
}

.paginationBottom {
    height: 250px;
}
.none
{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}

.btn-primary {
    width: 80%;
    border: none;
    margin-top: 10%;
    background-color: #777F47;
    color: white;
    font-weight: bold;
    color: white;
    font-family: 'IBM Plex Mono';
    font-size: 120%;
    height: 40px;
    justify-content: center;
}