@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


* {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgba(119, 127, 71, 1);
}




#card {
    border: none;
}

.img {
    margin-bottom: 6%;
}

.cont {
    margin-top: 50px;
}

input {
    font-family: Ropa sans;
}

.btn-primary {
    border: none;
    background-color: rgba(39, 59, 9, 1);
    color: white;
    font-weight: bold;
    color: white;
    font-family: 'Ropa Sans';
    margin-left: 50%;
    width: 50%;
    padding: 2%;
    margin-top: -2;
}

.bibi {
    margin-right: 100%;
    width: 50%;
    padding: 2%;
}



a {
    text-decoration: none;
    font-family: 'Ropa Sans';

}