* {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgba(119, 127, 71, 1);
}


#card{
    border: none;
}

.img{
    margin-bottom: 6%;
}

.cont{
    margin-top: 50px;
}
