.custom-bg-color{
    background-color: #FFB7C3;
}

.custom-bg-color2{
    background-color: #FFE169;
}

.card-title{
    font-size: 20px;
}

.card-text{
    font-size: 14px;
}

.agregar{
    background-color: #FF5C77;
}


