.chartCard {
    width: 47vw;
    height: calc(47vh - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
  }

  .chartBox {
    width: 90%;
    height: 80%;
    border-radius: 20px;
    background: white;
  }

  .container{
    width: 50%;
    margin-right: 350px;
  }

  .chart-container {
    position: relative;
    height: auto; /* Altura deseada para los gráficos */
}

.chart-canvas {
    width: 100% !important;
    height: 100% !important;
}

.container {
    max-width: 90%; /* Ajusta este valor según sea necesario */
}

.chart-container2 {
  position: relative;
  height: auto;
  margin-right: 500; /* Altura deseada para los gráficos */
  margin-top: 10;
}

.header{
  background-color: #FFB7C3;
  border-radius: 100;
}