.chartCard {
    width: 47vw;
    height: calc(47vh - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
  }

  .chartBox {
    width: 90%;
    height: 80%;
    border-radius: 20px;
    background: white;
  }

  .container{
    width: 50%;
    margin-left: 500px;
  }
