.main-content {
    margin-left: 20px; /* Ajusta este valor según sea necesario */
}

.card {
    border-radius: 15px;
    background-color: #FFB7C3;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Añadir margen superior */
    width: 400px; /* Cambia este valor al ancho deseado */
}

.card img {
    width: 360px;
    height: 250px;
}

.card .btn {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #FF5C77;
}

.container {
    margin-top: 20px; /* Añadir margen superior al contenedor */
}